QTreeWidget::item{
    height: 20px 0;
}

QSplitter::handle {
    border: 1px solid #333333;
    height: 2px;
    background-color: #303030;
    border-radius: 4px;
}

QSplitter::handle:pressed {
    background: #6187ac;
}
QMenuBar {
    margin-bottom: 1px;
    padding-bottom:1px;
}